<div class="card">
  <h3>Team name: {{ team.teamName }}</h3>
  <div class="members">
    Members:
    <span *ngFor="let member of team.teamMembers">{{ member.username }}, </span>
  </div>
  <button mat-raised-button color="warn" (click)="deleteTeam()">Delete</button>
  <button mat-raised-button color="primary" (click)="openEditDialog()">Edit</button>
</div>
