<p>{{ registerForm.status }}</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field>
    <input matInput placeholder="username" formControlName="username" />
    <app-show-error [control]="inputs['username']"></app-show-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="email" formControlName="email" />
    <app-show-error [control]="inputs['email']"></app-show-error>
  </mat-form-field>

  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="password"
      formControlName="password"
    />
    <app-show-error [control]="inputs['password']"></app-show-error>
  </mat-form-field>

  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="confirmPassword"
      formControlName="confirmPassword"
    />
    <app-show-error [control]="inputs['confirmPassword']"></app-show-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="registerForm.invalid">Submit</button>
</form>
