$blueish: rgb(106, 106, 163);
$white: white;

.header {
  background-color: $blueish;
  text-align: center;
  padding: 1.875rem;
  color: $white;
  border-radius: 0 0 1.875rem 1.875rem;
}

h1 {
  margin: 0;
  letter-spacing: 0.125rem;
}

.button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
}
