<div class="header">
  <h1>SPECTRE - btuiubrbibietbi Meeting Platform</h1>
</div>
<div class="button">
  <button *ngIf="checkToken()" mat-raised-button (click)="loggingOut()">
    Log out
  </button>
</div>
