<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
  <mat-form-field>
    <input matInput placeholder="email" formControlName="email" />
    <app-show-error [control]="inputs['email']"></app-show-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="password" formControlName="password" />
    <app-show-error [control]="inputs['password']"></app-show-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="loginForm.invalid">Submit</button>
  <mat-error *ngIf="error">{{ error }}</mat-error>
</form>
