form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
    margin-top: 6.25rem;
}

input {
    margin-bottom: 1.875rem;
}

button {
    margin-bottom: 20px;
}