<div class="home">
  <h1>Teams</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Create new team
  </button>
</div>
<div class="teams">
  <app-team
    *ngFor="let team of teams"
    [team]="team"
    (deletedTeamEvent)="getTeams()"
  ></app-team>
</div>
