.teams {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1.875rem auto;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.25rem 1.25rem;
}

h1 {
  margin-bottom: 1.25rem;
}
