<div *ngIf="control && control.errors && (control.dirty || control.touched)">
  <div *ngIf="control.errors.required">
    <small>This field is required</small>
  </div>

  <div *ngIf="control.errors.minlength">
    <small>Length has to be more than 3</small>
  </div>

  <div *ngIf="control.errors.email">
    <small>Email is not correct</small>
  </div>

  <div *ngIf="control.errors.pattern">
    <small>password must be at least 4 characters long</small>
  </div>

  <div *ngIf="control.errors.notMatching">
    <small>password not matching</small>
  </div>
</div>
