<div class="dialog">
  <h2 mat-dialog-title>{{ data ? "Edit team" : "Create new team" }}</h2>
  <form [formGroup]="teamForm">
    <mat-form-field>
      <input matInput placeholder="team name" formControlName="teamName" />
      <app-show-error [control]="fields['teamName']"></app-show-error>
    </mat-form-field>
    <div class="available-users">
      <h3 mat-dialog-title>available users:</h3>
      <p *ngFor="let user of availableUsers">
        {{ user.username }}
        <button mat-raised-button color="primary" (click)="addToTeam(user)">
          Add
        </button>
      </p>
    </div>
    <div class="selected-users">
      <h3 mat-dialog-title>selected users:</h3>
      <p *ngFor="let user of selectedUsers">{{ user.username }}</p>
    </div>
    <div class="team-members" *ngIf="data">
      Team Members:
      <p *ngFor="let member of data.teamMembers">
        {{ member.username }}
        <button mat-raised-button color="warn" (click)="removeFromTeam(member)">
          Remove
        </button>
      </p>
    </div>
    <mat-dialog-actions>
      <button
        mat-raised-button
        color="red"
        mat-dialog-close
        (click)="returnToTeam()"
      >
        Close
      </button>
      <button
        [disabled]="teamForm.invalid"
        mat-raised-button
        color="primary"
        (click)="save()"
        mat-dialog-close="true"
      >
        {{ data ? "Save" : "Submit" }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
